{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row col-md-10 col-md-offset-2 custyle">
            <table class="table table-striped custab">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.name }}</td>
                    <td>{{ article.description }}</td>
                    <td>{{ article.price }}€</td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' href="{{ path("edit_article", { "id" : article.id}) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                            Edit
                        </a>
                        <a href="/article/delete/{{ article.id }}" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove delete article" data-id="{{ article.id }}"></span>
                            Del
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}